aioredis==2.0.1
amqp==5.1.1
anyio==3.7.1
asgiref==3.7.2
async-timeout==4.0.2
asyncpg==0.27.0
attrs==23.1.0
billiard==4.1.0
celery==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.6
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
et-xmlfile==1.1.0
exceptiongroup==1.1.2
fastapi==0.78.0
greenlet==2.0.2
h11==0.14.0
httpcore==0.16.3
httpx==0.23.3
idna==3.4
iniconfig==2.0.0
kombu==5.3.1
openpyxl==3.1.2
packaging==23.1
pluggy==1.2.0
prompt-toolkit==3.0.39
pydantic==1.10.11
pytest==7.2.1
pytest-asyncio==0.21.1
python-dateutil==2.8.2
python-dotenv==1.0.0
redis==4.6.0
requests==2.31.0
rfc3986==1.5.0
six==1.16.0
sniffio==1.3.0
SQLAlchemy==1.4.36
starlette==0.27.0
tomli==2.0.1
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
uvicorn==0.17.6
vine==5.0.0
wcwidth==0.2.6
